<ANA-nav-landing></ANA-nav-landing>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center bg-purple-900"
    style="min-height: 75vh;"
  >
    <div class="container lg:pt-12 w-1/4 mb-5" >
      <div
        class="py-6 px-8 flex-auto content-center items-center justify-center break-words  mb-10 shadow-lg rounded-lg bg-white border-2"
      >
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div>
            <div *ngIf="cls">
              {{message}}
            </div>
            <div class="text-black text-center mb-5 mt-5 font-bold">
              Reset your Password
            </div>
            <form [formGroup]="form" (submit)="submit()">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  >Email</label
                >
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <i class="text-gray-500 fa-solid fa-at"></i>
                  </div>
                  <input
                    formControlName="email"
                    type="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="e@Mail"
                    style="transition: all 0.15s ease 0s;"
                  />
                </div>
              </div>
              <div class="text-center mt-6">
                <button
                  class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                  type="submit"
                  style="transition: all 0.15s ease 0s;"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<ANA-footer-landing></ANA-footer-landing>