<div>
  <main>
    <form [formGroup]="form" (submit)="submit()">
      <div> 
        <h1>Please Register</h1>
      </div>
    
      <div>
          <label>First Name </label> 
          <input formControlName="first_name" placeholder="Your Name">

          <label>Last Name </label>
          <input formControlName="last_name" placeholder="Your Lastname">
          
          <label>Email address </label>
          <input formControlName="email" type="email" placeholder="your e@Mail">
          

          <label>Password </label>
          <input formControlName="password" type="password" placeholder="password">
          
          <label>Retype Password </label>
          <input formControlName="password_confirm" type="password" placeholder="retype password">
      </div>
        <button type="submit">Submit</button>
    </form>
  </main>
</div>