<ANA-nav-landing></ANA-nav-landing>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center bg-purple-900"
    style="min-height: 75vh;"
  >
    <div class="container lg:pt-12 w-1/4 mb-5" >
      <div
        class="py-6 px-8 flex-auto content-center items-center justify-center break-words  mb-10 shadow-lg rounded-lg bg-white border-2"
      >
          <ANA-form (onLogin)="onLogin($event)" *ngIf="loginData.id === 0"></ANA-form>
          <ANA-authenticator [loginData]="loginData" *ngIf="loginData.id !== 0"></ANA-authenticator>
      </div>
    </div>
  </div>
</main>
<ANA-footer-landing></ANA-footer-landing>