<div *ngIf="message">
    {{message}}
    <ul>
      <li><a routerLink="/login">Back</a></li>
    </ul>
  </div>
<div>
  <main *ngIf="!message">
    <form [formGroup]="form" (submit)="submit()">
      <div>
        <h1>User Access</h1>
        <h1>Insert Authenticator Code</h1>
      </div>
      
      <div>
        <input formControlName="code" placeholder="6 digits code">
        <label>6 Digits Code ::</label>
      </div>

      <button type="submit">Log In</button>
    </form>
    <div>
      <qrcode [qrdata]="LoginData.xQrCode" [width]="300" [errorCorrectionLevel]="'M'" ></qrcode>
    </div>
    <div *ngIf="!LoginData.xQrCode">
      <div>
        <button (click)="getQR()">
          Retrieve your the QR
        </button>
        <div>
          <qrcode [qrdata]="getxQrCode" [width]="300" [errorCorrectionLevel]="'M'" ></qrcode>
        </div>
      </div>
    </div>
  </main>
</div>