<div class="app-container" *ngIf="message">
  <div class="auth-container">
    {{message}}
    <a routerLink="/login">Return</a>
  </div>
</div>
<div class="app-container" *ngIf="!message">
  <div class="auth-container">
    <main class="form-signin">
      <form [formGroup]="form" (submit)="submit()">
        <div class="app-container-title">
          <h1 class="h3 fw-normal">User Access</h1>
        </div>
        
        <div class="settings">
            <label>E-Mail</label>
            <input formControlName="email" class="form-control"  placeholder="e@Mail">
            
            <label>Password </label>
            <input formControlName="password" type="password" class="form-control" placeholder="your password?">
        </div>

        <div class="mb-3">
          <a routerLink="/forgot">Forgot your password?</a>
        </div>

        <button class="w-100 btn btn-lg btn-primary  mt-3" type="submit">Log In</button>

        <div>Don't have an account? <a [routerLink]="['/register']">Get Started</a></div>
      </form>
    </main>
  </div>
</div>