<div *ngIf="message">
  <div>
    {{message}}
    <a routerLink="/login">Return</a>
  </div>
</div>
<div *ngIf="!message">
  <div>
    <main>
      <form [formGroup]="form" (submit)="submit()">
        <div>
          <h1>User Access</h1>
        </div>
        
        <div>
            <label>E-Mail</label>
            <input formControlName="email" placeholder="e@Mail">
            
            <label>Password </label>
            <input formControlName="password" type="password" placeholder="your password?">
        </div>

        <div>
          <a routerLink="/forgot">Forgot your password?</a>
        </div>

        <button type="submit">Log In</button>

        <div>Don't have an account? <a [routerLink]="['/register']">Get Started</a></div>
      </form>
    </main>
  </div>
</div>