<VMS-nav-landing></VMS-nav-landing>
<main>

  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center"
    style="min-height: 75vh;"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover bg-[url('/assets/img/vmsbg5.webp')]"
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      >
      </span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-extrabold text-5xl">
              VMS
            </h1>
            <blockquote class="text-2xl font-semibold text-center text-white">
              Your
              <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-purple-900 relative inline-block">
                <span class="relative text-white">One Stop Point</span>
              </span>
              to keep track and manage your Suppliers Ecosystem
            </blockquote>
            <blockquote class="text-2xl font-semibold text-center text-white py-5">
              <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-green-900 relative inline-block">
                <span class="relative text-white">{{ message | date:'yyyy-mm-dd HH:MM' }}</span>
              </span>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="pb-20 bg-white -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-900"
              >
                <i class="fas fa-bullseye"></i>
              </div>
              <h6 class="text-xl font-semibold">Modules</h6>
              <p class="mt-2 mb-4 text-gray-600">
                MODULES DESCRIPTION
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-yellow-500"
              >
                <i class="fas fa-paw"></i>
              </div>
              <h6 class="text-xl font-semibold">STUFF</h6>
              <p class="mt-2 mb-4 text-gray-600">
                STUFF.
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-purple-900"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">AUTHENTICATION</h6>
              <p class="mt-2 mb-4 text-gray-600">
                GET ACCOUNT
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            What is VMS?
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
            EXPLAIN VMS, ADD ROADMAP INFO.
          </p>
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-purple-800"
          >
            <img
              alt="..."
              src="./assets/img/vmsbg3.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-purple-800 fill-current"
                >
                </polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                STUFF
              </h4>
              <p class="text-md font-light mt-2 text-white">
                MORE STUFF.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        >
        </polygon>
      </svg>
    </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">The Team behind VMS</h2>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="Khalid Murshid Al Shehi"
              src="./assets/img/KAS.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Khalid Murshid Al Shehi</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                EXECUTIVE DIRECTOR - P&C
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fa-solid fa-at"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="Cecilia Bautista"
              src="./assets/img/default_avatar.png"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Cecilia Bautista</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                EXECUTIVE ASSISTANT
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fa-solid fa-at"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="Gali Reddy"
              src="./assets/img/default_avatar.png"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Gali Reddy</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                MANAGER - BUSINESS SUPPORT
              </p>
              <div class="mt-6">
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fa-solid fa-at"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="Juan Carlo Mejía Chang"
              src="./assets/img/me.jpg"
              class="shadow-lg rounded-full max-w-full mx-auto"
              style="max-width: 120px;"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Juan Carlo Mejía Chang</h5>
              <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                Assistant Manager - Developer
              </p>
              <div class="mt-6">
                <button
                  class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  onclick="location.href='https://twitter.com/beingcarlomejia'" 
                  type="button"
                >
                  <i class="fab fa-twitter">
                    <a href="" target="_blank"></a>
                  </i>
                </button>
                <button
                  class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fa-solid fa-at"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
<VMS-footer-landing></VMS-footer-landing>